<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <p class="color:red"><% (typeof msg != undefined) ? '':msg %></p>
    <form method="POST" action="/signin_submit" enctype="application/x-www-form-urlencoded">
        <label for="username">Username:</label>
        <input type="text" id="" name="username" required value="<% (typeof username != undefined) ? '':username %>">

        <label for="password">Password:</label>
        <input type="password" id="" name="password" required>

        <button type="submit" name="submit">Login</button>
        <p>
          <a href="/">Trang chủ</a>
      </p>
        <p>
            <a href="/signup">Đăng ký?</a>
        </p>
        <p>
            <!-- <a href="/reset">Quên mật khẩu?</a> -->
        </p>
    </form>
  </div>
  <script src="js/signin.js"></script>
</body>
</html>